.card_preguntas{ display: flex; flex-direction: column; margin: 20px; box-shadow: 1px 1px 5px 0px black; width: 800px; height: auto; margin-bottom: 50px;  padding: 5px; }


@media screen and (max-width: 767px), (max-width: 1080px) {

    .card_preguntas{margin: 10px; box-shadow: 1px 1px 5px 0px black; width: 150px; height: 280px; margin-bottom: 20px; font-size: 12px;}

  
    
   }
