.cart-categorias{height: 100px; width: 90%;} 

.loding-logo{margin-right: 2%;}

.titulo-producto{color: white; background-color: brown; padding: 10px; width: 20%; text-decoration: none; box-shadow: black 6px 0px 8px 1px; font-size: 20px;}

.titulo-producto:hover{font-size: 25px; transition: 0.5s;}


@media screen and (max-width: 767px), (max-width: 1080px) {

    .cart-categorias{height: auto; width: 90%; padding: 15px;} 

    .loding-logo{margin-right: 2%;}
    
    .titulo-producto{color: white; background-color: brown; margin: 5px; padding: 10px; width: 80%; text-decoration: none; box-shadow: black 6px 0px 8px 1px; font-size: 20px;}
    
    .titulo-producto:hover{font-size: 25px; transition: 0.5s;}
      
       
      }
   