.cart-navbar{ background-color: rgb(72, 131, 154); 
    height: 200px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
     align-items: center; 
     padding: 25px;
}

.menunav{ margin-bottom: 100px;}

.cart-navbar img{width: 250px; height: auto; margin-top: 100px;}

.cart-navbar ul{list-style: none; display: flex; flex-direction: row; }

.cart-navbar li{margin-right: 10px;}