

.cart-footer{ height: 240px; background-color: black;  padding: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center;  }

.cart-footer li{list-style: none; color: white;}

.iconos-redes{display: flex; flex-direction: row; margin: 20px; }

.iconos-redes img{ width: 50px; height: 50px; margin: 10px; border-radius: 10px;}