.card_itemList{display: flex; flex-direction: row; flex-wrap: wrap; width: 95%; justify-content:flex-start;  }

.buscador-principal{width: 300px; margin-left: 20%; margin-bottom: 50px; position: relative; top: 2rem;}




